@font-face {
    font-family: 'Hermit';
    src: url('../fonts/Hermit-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Hermit';
    src: url('../fonts/Hermit-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Hermit';
    src: url('../fonts/Hermit-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* --- SPACE GROTESK --- */
@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Grotesck/SpaceGrotesk-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Grotesck/SpaceGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Grotesck/SpaceGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
