body {
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content: center;
    gap: 15px;
    background-color: #000;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9d9d9d;
    border-radius: 38px;
    order: -1;
    flex:1
}

.pic-perfil{
    margin-top: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid 5px rgba(26, 151, 47, 1);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9d9d9d;
    border-radius: 38px;
    order: 1;
    flex: 3;
}

#wrapper-proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-proyects {
    margin: auto;
}

.proyects-items{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 25px;
}

.item-proyect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px rgba(26, 151, 47, 1);
    height: 130px;
    width: 150px;
    border-radius: 24px;
    padding: 10px;
    background-color: #000;
    color: rgba(26, 151, 47, 1);
}

.carpinchomon-img,.copiadora-img,.siap-img {
    width: 100px;
    height: 100px;
    border: solid 2px rgba(26, 151, 47, 1);
    border-radius: 100%;
}

.skill-section{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: 25%;
}

.wrapper-skills{
    display: flex;
    flex-direction:row;
    
}

.skill-item {
    border: solid 2px rgba(26, 151, 47, 1);
    padding: 10px;
    margin: 5px;
}