body {
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content: center;
    background-color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 40px;
}

main,aside{
    margin: 5px;
    padding: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 38px;
    order: -1;
    flex:1; 
    height: 20%;  
}

.pic-perfil{
    margin-top: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid 5px rgba(26, 151, 47, 1);
}

h1{
    font-size: 2rem;
}

.title-aside{
    background-color: #3232323d;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
}

.ul-contact{
    background-color: #3232323d;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 10px 10px 35px;
    list-style: none;
    line-height: 40px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 38px;
    order: 1;
    flex: 3;    
}

#container-proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-proyects {
    margin: auto;
}

.proyects-items{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 25px;
}

.item-proyect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px rgba(26, 151, 47, 1);
    height: 130px;
    width: 150px;
    border-radius: 24px;
    padding: 0 0 78px 0;
    margin-top: 2em;
    background-color: D9D9D9;
    color: rgba(26, 151, 47, 1);
}

.logo{
    background-color: transparent;
    margin-top: 30px;
}

.sub-item__proyect{
    display: flex;
    flex-direction: column;
}

.carpinchomon-img,.copiadora-img,.siap-img {
    width: 100px;
    height: 100px;
    border: solid 2px rgba(26, 151, 47, 1);
    border-radius: 100%;
}

#skill-section, #section-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-skills{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 76%;
}

.skill-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(26, 151, 47, 1);
    padding: 20px;
    margin: 5px;
    border-radius:0 24px 24px 0;
    width: 50px;
    height: 50px;
    text-align: center;
    border-left: solid 7px rgba(26, 151, 47, 1);
}

.wrapper-cursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cursos-item {
    display: flex;
    justify-content: center;
    border: solid 2px rgba(26, 151, 47, 1);
    padding: 20px;
    margin: 5px;
    border-radius: 24px;
    width: 200px;
    text-align: center;
}


   